#svg-area {
  width: 100%;
  height: 100%;
  background: white;
}

.seq-axis {
  font-size: 11px;
}

.seq-axis path,
.seq-axis line {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}

.seq-labels {
  font-size: .8em;
}

.area-seq > g:hover {
  opacity: 0.9;
}

.seq-timepoint {
  stroke: black;
  stroke-width: 1px;
}
