#area-view {
  width: 100%;
  height: 250px;
}

#svg-area {
  width: 100%;
  height: 100%;
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.seq-axis {
  font-size: 11px;
}

.seq-axis path,
.seq-axis line {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}

.seq-labels {
  font-size: .8em;
}

.seq-timepoint {
  stroke: black;
  stroke-width: 1px;
}

.seq-hover {
  stroke: #555;
  stroke-width: 1px;
  fill: none;
}
