.chart-view {
  height: 150px;
}

.chart {
  stroke: black;
  stroke-width: 2px;
  fill: none;
}


.chart-axis {
  font-size: 11px;
}

.chart-axis path,
.chart-axis line {
  stroke: black;
  fill: none;
}

.chart-labels {
  font-size: .8em;
}

.chart-timepoint {
  stroke: black;
  stroke-dasharray: 3,1;
}

.chart-hover {
  stroke: #f0ad4e;
}

.chart-target {
  stroke: red;
}
