#main {
  margin-top: 60px;
  height: 870px;
}

#settings {
  height: 130px;
}

#day, #btns-play {
  display: inline-block;
}

#btns-play {
  left: calc(50% - 350px);
  position: relative;
}

.btn-label {
  cursor: pointer;
}

.btn-right {
  float: right;
  margin: 0px 5px;
}

.btn-xxs {
  width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  padding: 3px;
  margin: 0px 2px;
}

#date, .btn-label {
  font-weight: bold;
  font-size: 13px;
}

#show-filter {
  position: relative;
}

#timepoint, #timepoint-d {
  left: calc(50% - 15px);
  position: absolute;
  font-weight: bold;
}

#date {
  margin-left: 10px;
  margin-right: 10px;
}

#time-start, #time-end, #time-start-d, #time-end-d, #timepoint{
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

#time-end, #time-end-d {
  float: right;
}

#timerange-slider,
#timerange-slider-d,
#timepoint-slider {
  margin-left: 10px;
  margin-right: 10px;
}

#timepoint-slider {
  top: -30px;
  position: relative;
  height: 30px;
}
#timepoint-slider .ui-slider-handle {
  background: #AAA;
  width: 10px;
  height: 35px;
}
#timerange-slider-d {
  height: 30px;
}
#timerange-slider-d .ui-slider-handle {
  height: 35px;
}
#timerange-slider .ui-slider-range {
  background: #998080;
}

#timerange-d {
  position: relative;
  top: -30px;
}

.fill-vertical {
  height: 100%;
}

.input-label {
  margin-right: 5px;
  margin-left: 5px;
}

#error, #warning {
  text-align: center;
  font-weight: bold;
}

#area-row {
  width: calc(100% + 25px);
  height: calc(100% - 505px);
}

#area-view {
  width: 100%;
  height: 100%;
}

#comm-view {
  margin-left: 5px;
  height: 500px;
  width: calc(100% - 510px);
}

#btn-update-move {
  margin-left: 10px;
}

.view-icon {
  font-size: 30px;
  text-align: center;
  background-color: #eee;
  color: #aaa;
}

/* override bootstrap settings */
.panel {
  margin-bottom: 5px;
}

/* make evol.colorpicker work properly on the right */
.evo-pop {
  left: -10px;
  width: 215px;
}
.evo-colorind {
  width: 24px;
  height: 24px;
}
.evo-color div {
  width: 15px;
  height: 15px;
}
