.navbar-nav > li > a, .navbar-brand {
  padding-top:4px !important;
  padding-bottom:0 !important;
  height: 28px;
  font-size: 1em;
}
.navbar {
  min-height:28px !important;
}
.navbar-brand {
  color: #ddd !important;
}

.svg-panel .panel-body {
  padding: 0px;
}

.panel-heading {
  padding: 1px 5px;
}

.svg-panel {
  overflow: hidden;
}

.svg-panel .panel-heading > span {
  font-size: 12px;
}

.svg-panel svg {
  width: 100%;
  height: 100%;
}

#main {
  margin-top: 102px;
}

#timeline {
  height: 72px;
  top: 28px;
  overflow: visible;
}
#timeline .buttons {
  padding: 0px 10px;
  margin-bottom: 5px;
}
#timeline .sliders {
  padding: 0px 100px;
}
#timeline .panel-body {
  padding: 0px 0px 5px 5px;
}

.time-label {
  background: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  position: fixed;
  color: black;
  padding: 0px 5px;
  font-size: .9em;
  text-align: center;
  z-index: 10000;
}

#day, #btns-play {
  display: inline-block;
}

#btns-play {
  left: calc(50% - 400px);
  position: relative;
}

.btn-label {
  cursor: pointer;
  font-size: .8em;
}
.btn-label-lg {
  cursor: pointer;
  font-size: 1em;
}

.btn-right {
  float: right;
  margin: 0px 5px;
  padding: 3px 5px;
}

.btn-xxs {
  width: 15px;
  height: 15px;
  font-size: 9px;
  line-height: 9px;
  padding: 2px;
  margin: 0px 2px;
}

#date {
  font-weight: bold;
  font-size: 13px;
}

#show-filter {
  position: relative;
}

#timepoint {
  font-weight: bold;
}

#date {
  margin-left: 10px;
  margin-right: 10px;
}

#time-start, #time-end, #time-start-d, #time-end-d, #timepoint {
  font-size: 12px;
  white-space: nowrap;
}

#timerange-slider,
#timerange-slider-d,
#timepoint-slider {
  margin-left: 10px;
  margin-right: 10px;
}

#timepoint-slider {
  top: -20px;
  position: relative;
  height: 20px;
}
#timepoint-slider .ui-slider-handle {
  background: #AAA;
  width: 10px;
  height: 25px;
}
#timerange-slider-d {
  height: 20px;
}
#timerange-slider-d .ui-slider-handle {
  height: 25px;
}
#timerange-slider .ui-slider-range {
  background: #998080;
}

#timerange-d {
  position: relative;
  top: -20px;
}

.flying {
  position: fixed;
}

#prompt {
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  padding: 0px;
  z-index: 10000;
  font-size: 12px;
}

#prompt .panel-body {
  padding: 5px;
}

#prompt button {
  margin-right: 2px;
}

.fill-vertical {
  height: 100%;
}

.input-label {
  margin-right: 5px;
  margin-left: 5px;
}

.vis-label {
  background: black;
  border-radius: 4px;
  position: absolute;
  color: white;
  padding: 0px 5px;
  font-size: .9em;
  text-align: center;
  white-space: nowrap;
  z-index: 10000;
}

#error, #warning {
  text-align: center;
  font-weight: bold;
}

.view-icon {
  font-size: 30px;
  text-align: center;
  background-color: #eee;
  color: #aaa;
}

.grab-background {
  fill: white;
  width: 100%;
  height: 100%;
  opacity: 0.0;
}

/* override bootstrap settings */
.panel {
  margin-bottom: 2px;
}

/* make evol.colorpicker work properly on the right */
.evo-pop {
  left: -10px;
  width: 215px;
}
.evo-colorind {
  width: 24px;
  height: 24px;
}
.evo-color div {
  width: 15px;
  height: 15px;
}
