#map-panel {
  padding: 0px;
  width: 502px;
}

#map-panel .panel-heading {
  padding: 3px 5px;
}

#map-view {
  padding: 0px;
  width: 500px;
  height: 500px;
  position: relative;
}

#svg-move {
  width: 100%;
  height: 100%;
}

#map-view .move-path {
  fill: none;
  stroke: black;
}
#map-view .move-path path {
  opacity: 0.1;
}

#map-view .move-pos {
  fill: gray;
  stroke: black;
}


.select-range {
  position: absolute;
  background: white;
  border: 2px solid black;
  opacity: 0.5;
  z-index: 1;
}

.pos-select {
  fill: white;
}
.pos-selectP {
  fill: #f0ad4e;
}
.pos-target {
  fill: red;
}
.pos-hover {
  fill: #f0ad4e;
}

.path-hover {
  stroke-width: 3px;
}
.path-hover-color {
  stroke: #f0ad4e !important;
}
.path-select {
  stroke: black;
}
.path-selectP {
  stroke: #f0ad4e;
  opacity: .7 !important;
}
.path-target {
  stroke: red;
  opacity: .7 !important;
}

.map-ids {
  font-size: .8em;
}

.map-label {
  background: black;
  border-radius: 4px;
  position: absolute;
  color: white;
  padding: 0px 5px;
  font-size: .9em;
  text-align: center;
}

.map-facility {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.9);
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid black;
  position: absolute;
  padding-top: 2px;
  color: black;
  font-size: 14px;
  text-align: center;
}

.transparent0 {
  opacity: 0.0;
}
.transparent1 {
  opacity: 0.25;
}
.transparent2 {
  opacity: 1.0;
}

#map-view #heatmap {
  position: absolute;
  top: 0px;
  pointer-events: none;
}
