#svgMove {
  width: 500px;
  height: 500px;
  position: absolute;
}

#parkMap {
}

#mapView {
  padding: 0px;
  width: 500px;
  height: 500px;
}

.move-path {
  fill: none;
  stroke: black;
  stroke-width: 2px;
  shape-rendering: geometricPrecision;
}

.move-pos {
  fill: gray;
  stroke: black;
}

.select-range {
  position: absolute;
  background: white;
  border: 2px solid black;
  opacity: 0.3;
  z-index: 1;
}

.pos-select {
  fill: white;
}
.pos-selectP {
  fill: cyan;
}
.pos-target {
  fill: red;
}
