#svgMove {
  width: 500px;
  height: 500px;
  position: absolute;
}

#parkMap {
  width: 500px;
  height: 500px;
  z-index: -1;
}

#mapView {
  padding: 0px;
  width: 500px;
  height: 500px;
}

.move-path {
  fill: none;
  stroke: black;
  stroke-width: 5px;
  shape-rendering: geometricPrecision;
}

.move-people {
  fill: gray;
  stroke: black;
}

