#comm-svg {
  width: 100%;
  height: 100%;
}

#comm-panel {
  padding: 0px;
  width: 502px;
  margin-left: 5px;
}

#comm-view {
  padding: 0px;
  width: 500px;
  height: 500px;
  position: relative;
}

#comm-view #node {
  fill: white;
  stroke: black;
}

#comm-view #edge path {
  stroke: black;
  opacity: 0.9;
  fill: none;
}

#comm-view text {
  fill: #767676;
  font-weight: bold;
  font-size: 10px;
}

.node-select {
  fill: white;
}
.node-selectP {
  fill: #f0ad4e;
}
.node-target {
  fill: red;
}
.node-nonselect {
  fill: #aaa;
}
.node-hover {
  fill: #f0ad4e !important;
}

.edge-hover {
  stroke: #f0ad4e !important;
}
.edge-hover-target {
  stroke: red !important;
}

#comm-view #heatmap {
  position: absolute;
  top: 0px;
  pointer-events: none;
}
