#area-view, #facility-view {
  height: 200px;
}

.seq-axis {
  font-size: 11px;
}

.seq-axis path,
.seq-axis line {
  stroke-width: 1px;
  stroke: black;
  fill: none;
}

.seq-labels {
  font-size: .8em;
  cursor: pointer;
}
.seq-labels text:hover {
  font-weight: bold;
}

.seq-timepoint {
  stroke: black;
  stroke-width: 1px;
  stroke-dasharray: 3,1;
}

.seq-hover {
  stroke: #555;
  stroke-width: 1px;
  fill: none;
}
