#table-panel {
  padding: 0px;
  width: calc(100% - 1075px);
  margin-left: 5px;
  overflow: visible;
}

#table-view {
  padding: 0px;
  width: 100%;
  height: 500px;
  position: relative;
}

.table-label-target {
  fill: red;
}

.table-hover {
  stroke: #555;
  stroke-width: 1px;
  fill: none;
}

.table-labels {
  font-size: 11px;
  cursor: pointer;
}
