#target-list,
#select-list {
  padding: 0px;
  height: 50%;
}

#target-list .panel-body,
#select-list .panel-body {
  padding: 5px;
  overflow: auto;
  height: calc(100% - 40px);
}

#select-list {
  padding: 0px;
  height: 50%;
}

.colorpicker {
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.label-select,
.label-target {
  width: 60px;
  margin: 1px;
  display: inline-block;
  cursor: pointer;
}

.label-select:hover,
.label-target:hover {
  position: relative;
  top: -1px;
}

.label-select > span {
  margin-left: -8px;
}

#input-targets {
  width: 100px;
  height: 20px;
  display: inline;
}

.btn-label-close {
  font-size: 8px;
  margin-right: -4px;
  float: right;
}
.btn-label-close:hover {
  color: #ddd;
}
