.label-list {
  height: 260px;
}

.label-list .panel-heading {
  padding-left: 10px;
  font-size: 12px;
}

.label-list .panel-body {
  padding: 5px;
  overflow: auto;
}

#target-list .panel-body {
  height: calc(100% - 40px);
}
#select-list .panel-body {
  height: calc(100% - 20px);
}

.colorpicker {
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.label-select,
.label-target {
  width: 50px;
  margin: 1px;
  display: inline-block;
  cursor: pointer;
}

.label-select:hover,
.label-target:hover {
  position: relative;
  opacity: 0.8;
  top: -1px;
}
.label-target-hover {
  opacity: 0.8;
}

.label-select > span {
  margin-left: -8px;
}

#input-targets {
  height: 20px;
  margin-top: 3px;
  font-size: 12px;
}

.btn-label-close {
  font-size: 8px;
  margin-right: -4px;
  float: right;
}
.btn-label-close:hover {
  color: #ddd;
}
